header{
    height: 20vh;
}

main{
    height: 70vh;
}

footer{
    height: 10vh;
}

.header_logo{
    width: 80%;
}

.repositorio-button{
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
    box-shadow: 0px 0px 3px 0px gold;
    border-radius: 50%;
}

.select-input{
    width: 50%;
}

.pokemon-info-container{
    height: 63vh;
}

.pokemon-img{
    width: 60%;
    /* box-shadow: 0px 0px 3px 0px black; */
    border-radius: 10px;
}

.capitalize{
    text-transform: capitalize;
}

.habilityDescription{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px red;
    padding: 2vw;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 700px){
    .header_logo{
        width: 60%;
    }

    .select-input{
        width: 30%;
    }

    .pokemon-img{
        width: 40%;
    }
}

@media screen and (min-width: 1000px){
    .header_logo{
        width: 20%;
    }

    .select-input{
        width: 30%;
    }

    .pokemon-img{
        width: 10%;
    }

    .habilityDescription{
        padding: 1vw;
    }

    .repositorio-button{
        width: 2vw;
        height: 2vw;
        margin-left: 5vw;
    }
}